<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=5" alt="Random second slide">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=6" alt="Random third slide">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">{{usNm | uppercase }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">so far 205 candidates enrolled for angular 2</h6>
    <p class="card-text">This is codekuls angular weekend batch. </p>
    <input type="text" [(ngModel)]="tmpUsNm"/>
    <a [routerLink]="['/dash', tmpUsNm]" class="card-link">Same Page</a>
  </div>
</div>